<!DOCTYPE html>
<html>
  <div class="child">

  <head>

    <title>RateMyWizards</title>

    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>

    <% if current_user %>
      <script type="text/javascript">
        window.CURRENT_USER_ID = <%= current_user.id %>
        window.CURRENT_USER = "<%= current_user.username %>"
      </script>
    <% end %>

  </head>

  <body class="<%= ['office', 'great-hall', 'book', 'portraits', 'great-hall-day'].sample %>">

    <div id="navbar"></div>

    <div class="container">
      <%= yield %>
    </div>



    <script src="//widget.cloudinary.com/global/all.js" type="text/javascript"></script>

    <script type="text/javascript">
      cloudinary.setCloudName("<%= ENV['CLOUD_NAME'] %>")
      window.CLOUDINARY = {
        cloud_name: "<%= ENV['CLOUD_NAME'] %>",
        upload_preset: "<%= ENV['UPLOAD_PRESET'] %>"
      }
    </script>

  </body>

  </div>
</html>
