<!DOCTYPE html>
<html>
  <head>

    <title>RateMyWizards</title>

    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>

    <% if current_user %>
      <script type="text/javascript">
        window.CURRENT_USER_ID = <%= current_user.id %>
        window.CURRENT_USER = "<%= current_user.username.to_s %>"
      </script>
    <% end %>

  </head>

  <body>
    <div id="navbar"></div>

    <%= flash[:errors].join("<br>").html_safe if flash[:errors] %>

    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>
