<!DOCTYPE html>
<html>
<head>
  <title>RateMyWizardsCapstone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <% if current_user %>
  <script type="text/javascript">
    window.CURRENT_USER_ID = <%= current_user.id %>
  </script>
  <% end %>
</head>
<body>

<%= flash[:errors].join("<br>").html_safe if flash[:errors] %>

<div class="container">
 <%= yield %>
</div>

</body>
</html>
